#title {
  display: inline-block;
}

.intro-container {
  display: flex;
  flex-direction: row; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Make the div take up the full height of the viewport */
}

.purpletext {
  color: hsla(295, 71%, 67%, 1);
}