.nvim {
  font-family: 'IBM Plex Mono', monospace;
}

.insertError {
  position: absolute;
  bottom: 10px;
  color: rgb(233, 39, 39);
}

.nvimbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--nvim-bar-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0;
  transition: background-color 0.3s ease;
  color: var(--window-text);
}

.mode {
  background-color: #cba6f7;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  color: #000;
}

.nvimItem {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
}

.percent {
  padding-right: 10px;
  clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 90% 50%, 100% 100%, 10% 100%);
}

.line {
  background-color: #cba6f7;
  clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 100% 100%, 10% 100%);
}

.nvimRight {
  clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 100% 100%, 10% 100%);
  background-color: var(--nvim-item-bg);
  transition: background-color 0.3s ease;
}


.jobfile {
  padding-right: 4px;

}
.markdownicon {
  height: 10px;
  width: auto;
}

@media (max-width: 768px) {
.jobfile {
  display: none;
}
.markdownicon {
  display: none;
}

}
