.tmuxContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #24e712; /* Background color */
  color: #000000; /* Text color */
  padding: 3px 16px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
  font-family: 'Fira Code', monospace; /* Monospaced font for a terminal-like feel */
  display: flex;
  justify-content: space-between; /* Distributes content across the bar */
  align-items: center; /* Centers items vertically */
  z-index: 10; /* Ensures the bar is on top of other content */
  height: auto; /* Explicit height for the bar */
}

.tmuxItem {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .datetime {
    display: none;
  }
}
