.vertical-tabs-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 50vh;
}

.vertical-tabs-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 48, 48); /* Background color for the tabs list */
  border-right: 1px solid rgb(100, 100, 100); /* Border separating tabs list from content */
  padding: 8px;
  width: 20%;
}

.vertical-tab-trigger {
  padding: 10px 16px;
  cursor: pointer;
  color: #74c7ec;
  background-color: rgb(48, 48, 48);
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  text-align: left;
  transition: background-color 0.3s ease;
  font-family: 'IBM Plex Mono', monospace;
}

.vertical-tab-trigger:hover {
  background-color: rgb(52, 54, 69);
}

.vertical-tab-trigger[data-state='active'] {
  background-color: rgb(66, 69, 91);
  font-weight: bold;
}

.vertical-tab-content {
  padding: 16px;
  flex-grow: 1;
  background-color: rgb(48, 48, 48);
  position: relative;
  width: 80%;
}

.listBullet {
  max-width: 15px;
  max-height: 15px;
  margin-right: 10px;
}

.contentRole {
  margin: 0;
}

.contentCompany {
  color: hsla(295, 71%, 67%, 1);
  font-size: 1.2rem;
  font-weight: bold;
}

.contentDate {
  color: hsla(295, 71%, 67%, 1);
  font-size: 1.2rem;

}

.contentSubhead {
  display: flex;
  justify-content: space-between;
}

.contentList {
  font-size: 1rem;
  padding-bottom: 30px;
}

.contentSkills {
  font-size: 1rem;
  padding-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 769px) {
  .vertical-tabs-container {
    flex-direction: column;
  }

  .vertical-tab-content {
    width: auto;
  }

  .vertical-tabs-list {
    width: auto;
  }
}
