.window {
  height: auto;
  width: 95%;
  max-width: 1400px;
  border-radius: 20px;
  background-color: rgb(48, 48, 48);
  margin:30px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.contentContainer {
  position: relative;
  height: 100%;
}

.sectionTitle{
  display: inline;
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
}

.sectionHeader {
  display: flex;
  align-items: center;
}

.headerLine {
  flex-grow: 1;
  margin: 0 30px;
  align-self: center;
}

hr {
  display: inline;
}

.windowHeader {
  width: 100%;
  min-height: 40px;
  background-color: rgb(32, 31, 31);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  box-sizing: border-box;
  position: relative;
}

.windowControls {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0.5rem;
}

.windowControls li {
  margin: 0 7px;
  border-radius: 50%;
  width: 20px;
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  line-height: calc(1em - 3px);
}

.closeWindow {
  background-color: #ff5f56;
  color:#8e3336;
  font-weight: bolder;
}

.closeWindow:hover {
  background-color: #8e3336;
  color:#ff5f56;
}

.minWindow {
  background-color: #ffbd2e;
  color:#d49408;
  font-weight: bolder;
}

.minWindow:hover {
  background-color: #d49408;
  color:#ffbd2e;
}

.expandWindow {
  background-color: #27c93f;
  color:#147623;
  font-size: 7px !important;
}

.expandWindow:hover {
  background-color: #147623;
  color:#27c93f;
  font-size: 7px !important;
}

.triangle {
  position: relative;
  display: inline-block;
  z-index: 1;
  left: 3px;
  top: -1px;
}

.triangle + .triangle {
  left: -2px;
  top: 2px;
  z-index: 2;
}


.folderIcon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 8px;
}

.filename {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-weight: bold;
}

.typeAnimation {
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 500;
  padding: 20px 15px;
  display: inline-block;
  line-height: 1;
}
.promptchars {
  color: hsl(116, 96%, 43%);
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 500;
  padding: 20px;
  display: inline-block;
  line-height: 1;
}

@media (max-width: 769px) {
  .filename {
    left: 70%;
    white-space: nowrap;
  }
}
